﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.serialize.html" name="" title="max.serialize">max.serialize</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.serialize.IMaxSerializable.html" name="" title="IMaxSerializable">IMaxSerializable</a>
                          </li>
                          <li>
                              <a href="max.serialize.MaxSerializedObject.html" name="" title="MaxSerializedObject">MaxSerializedObject</a>
                          </li>
                          <li>
                              <a href="max.serialize.MaxSerializer.html" name="" title="MaxSerializer">MaxSerializer</a>
                          </li>
                          <li>
                              <a href="max.serialize.MaxSerializer.SerialFormat.html" name="" title="MaxSerializer.SerialFormat">MaxSerializer.SerialFormat</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.serialize.type.html" name="" title="max.serialize.type">max.serialize.type</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.serialize.type.Vector2Serializer.html" name="" title="Vector2Serializer">Vector2Serializer</a>
                          </li>
                          <li>
                              <a href="max.serialize.type.Vector3Serializer.html" name="" title="Vector3Serializer">Vector3Serializer</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>